".env" 
"__pycache__/" 
"data/vector_store/" 
venv/
.vscode/
.env/
__pypackages__/
*.pyc
*.pyo
*.pyd
*.sqlite3
instance/
.deepeval/
.DS_Store
.pytest_cache/
__pycache__/
__init__.py
.ipynb_checkpoints/

.env 
